@import "tailwindcss";
@import "tailwindcss" prefix(tw);

* {
  font-family: 'sora', sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}